
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-volume-down:before { content: '\e802'; } /* '' */
.icon-volume-up:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */